:root {
  --font-color: #222;
  --brand: #0065C3;
  --brand-tint: #005bb0;
  --background-color: #fff;
  --solid: #fff;
  --link-color: #222;
  --muted: #767676;
  --lightest: #eee;
  --transparency-1: rgba(0, 0, 0, 0.05);
  --border-radius: .2rem;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

*,
:after,
:before {
  box-sizing: border-box
}

html {
  font-family: 'Inter', serif;
  font-size: calc(.95em + .3vw);
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

body {
  background: var(--background-color);
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  color: var(--brand);
}

a:hover {
  color: var(--brand-tint);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: solid 0.1rem var(--lightest);
}

.navigation__logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation a>img {
  width: 1.6rem;
  margin-right: 0.5rem;
}

.navigation ul {
  margin: 0 -0.5rem;
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.navigation ul li a {
  padding: 0.5rem 0.5rem;
  display: block;
}

.post-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.post-list li a {
  font-weight: 600;
}

.post-list li p {
  font-size: 0.75em;
  margin-top: 0;
  color: var(--muted);
}

.post-title {
  line-height: 1.25;
  font-weight: 700;
}

.post-meta {
  font-size: 0.75em;
  margin-top: 0;
  color: var(--muted);
}

:not(pre)>code {
  background-color: var(--lightest);
  padding: 0.1rem 0.25rem;
  border-radius: var(--border-radius);
}

blockquote {
  background-color: var(--lightest);
  border-left: 0.5rem solid var(--brand);
  margin-left: 0;
  padding: 1rem 2rem;
  quotes: "\201C""\201D""\2018""\2019";
}

pre {
  overflow: auto;
  background-color: var(--lightest);
  padding: 1rem;
  border-radius: var(--border-radius);
}

@media only screen and (min-width: 600px) {
  .navigation ul li a {
    padding: 0.5rem 1rem;
  }
}
