<nav class="navigation">
	<a href="/" class="navigation__logo">
		<img src="/static/logo.svg" alt="{{ metadata.site_title }}">
		{{ config.site.title }}
	</a>

	<ul>
		<li>
			<a href="/" class="{{ 'active' if '/' === page.url }}">Home</a>
		</li>
		<li>
			<a href="/example" class="{{ 'active' if '/example' in page.url }}">Example Page</a>
		</li>
	</ul>
</nav>